fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic-settings
joblib
pandas
numpy
python-dotenv
scikit-learn==1.6.1
xgboost
shap
email-validator
httpx
